<label for="Server Name"></label>
<!-- $event is a reserved keyword - data emitted from that event -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->

<!-- update the value of serverName automatically, and update the value of input if we change serverName somewhere else -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<p>{{ serverName }}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>

<app-server *ngFor="let server of servers; let i = index"></app-server>